/* for show/hide password */
.password-container {
  position: relative;
  width: auto; /* Adjust as needed */
}

.password-container input[type="password"] {
  width: 100%;
  box-sizing: border-box;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 75%;
  transform: translateY(-50%);
  cursor: pointer;
}
