ul {
  list-style: none; /* Remove default bullets */
  padding: 0;
  margin: 0;
}

li label{
  /* padding: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center; */
  margin-left: 10px;
}