.profile-box {
    width: 100%;
    }

.profile-header {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    background-color: rgb(75, 76, 77);
    color: white;
    padding: 10px;
}

table {
    width: 100%;
}

.colname {
    width: 30%;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(228, 230, 233);
    border: 1px solid rgb(75, 76, 77);
}

.coldesc {
     width: 70%;
    padding: 10px;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid rgb(75, 76, 77);
}

.mobile,.whatsapp{
    margin-left: 60px;
}