{% extends 'panel_admin.html' %}

{% block title %} Add Question Type {% endblock title %}

{% block othercss %}
<!-- <link rel="stylesheet" href="/static/add_chapter.css"> -->
{% endblock othercss %}

{% block maincontent %}

{% if current_user.is_authenticated %}

<div class="container">

    {% macro render_input(field, showErrors="true") %}
    {{ field.label }}
    {{ field(**kwargs)|safe }}
    {% if showErrors=="true" and field.errors %}
    <ul class="errors">
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endmacro %}

    <h2>Add Question Type</h2>
    <form action="/qtype/add_qtype" method="POST" enctype="multipart/form-data">

        <!-- generates security token for this page (Ensures that this page is used for registration)-->
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{render_input(form.qtypedesc, class="form-control")}}
        </div>

        <button type="submit" class="btn btn-dark">Add Question Type</button>
    </form>

</div>

{% block script %}
<!-- <script src="/static/add_chapter.js"></script> -->
{% endblock script %}

{% endif %}

{% endblock maincontent %}