{% extends 'panel_user.html' %}

{% block title %} Change Password {% endblock title %}

{% block othercss %}
<link rel="stylesheet" href="/static/change_password.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
{% endblock othercss %}

{% block maincontent %}

{% if current_user.is_authenticated %}

<div class="container">

    {% macro render_input(field, showErrors="true") %}
    {{ field.label }}
    {{ field(**kwargs)|safe }}
    {% if showErrors=="true" and field.errors %}
    <ul class="errors">
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endmacro %}

    <h2>Change User Password</h2>
    <form action="/change-password" method="POST" enctype="multipart/form-data">

        <!-- generates security token for this page (Ensures that this page is used for registration)-->
        {{ form.hidden_tag() }}

        <div class="password-container">
            {{render_input(form.oldpassword, placeholder="", class="form-control")}}
            <span id="oldtogglePassword" class="fa fa-eye password-toggle-icon"></span>
        </div>

        <!-- <div class="mb-3">
            {{render_input(form.oldpassword, class="form-control")}}
        </div> -->

        <div class="password-container">
            {{render_input(form.newpassword, placeholder="", class="form-control")}}
            <span id="newtogglePassword" class="fa fa-eye password-toggle-icon"></span>
        </div>

        <!-- <div class="mb-3">
            {{render_input(form.newpassword, class="form-control")}}
        </div> -->

        <div class="password-container">
            {{render_input(form.confirmnewpassword, placeholder="", class="form-control")}}
            <span id="confirmnewtogglePassword" class="fa fa-eye password-toggle-icon"></span>
        </div>

        <!-- <div class="mb-3">
            {{render_input(form.confirmnewpassword,class="form-control")}}
        </div> -->

        <!-- shows the google recaptcha -->
        <div class="g-recaptcha" data-sitekey="{{site_key}}"></div>

        <button type="submit" class="btn btn-dark">Change Password</button>
    </form>

</div>

{% endif %}

{% endblock maincontent %}

{% block otherscript %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="/static/change_password.js"></script>
{% endblock otherscript %}