{% extends 'panel_admin.html' %}

{% block title %} Class Admin {% endblock title %}

{% block maincontent %}

{% if current_user.is_authenticated %}

<div class="container">
    <h2>Class Administrtion</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">SNo</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for cl in allclass %} <!--use of jinja 2 templating-->
            <tr>
                <!-- <th scope="row">{{cl.sno}}</th> -->
                <th scope="row">{{loop.index}}</th>
                <td>{{cl.cl_desc}}</td>
                <td><a href="/class/class_admin/update/{{cl.id}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Update</a>
                </td>
                <td><a href="/class/class_admin/delete/{{cl.id}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</a>
                </td>
            </tr>
            {% endfor %} <!--use of jinja 2 templating-->
        </tbody>
    </table>
</div>

{% endif %}

{% endblock maincontent %}