{% extends 'panel_admin.html' %}

{% block title %} Schedule the Exam {% endblock title %}

{% block othercss %}
<!-- <link rel="stylesheet" href="/static/add_question.css"> -->
{% endblock othercss %}

{% block maincontent %}

{% if current_user.is_authenticated %}

<div class="container">

    {% macro render_input(field, showErrors="true") %}
    {{ field.label }}
    {{ field(**kwargs)|safe }}
    {% if showErrors=="true" and field.errors %}
    <ul class="errors">
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endmacro %}

    <h2>Schedule the Exam</h2>
    <form action="" method="POST" enctype="multipart/form-data">

        <!-- generates security token for this page (Ensures that this page is used for registration)-->
        {{ form.hidden_tag() }}
        <div class="container">
            <div class="mb-3">
                {{render_input(form.scheduleDateTime, class="form-control")}}
            </div>
             <div class="mb-3">
                {{render_input(form.examDuration, class="form-control")}}
            </div>
             <div class="mb-3">
                {{render_input(form.examTimeDomaian, class="form-control")}}
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-dark">Schedule</button>
            </div>

        </div>

    </form>

</div>

{% block script %}
<!-- <script src="/static/set_question.js"></script> -->
{% endblock script %}

{% endif %}

{% endblock maincontent %}