{% extends 'panel_admin.html' %}

{% block title %} Update Semester {% endblock title %}

{% block othercss %}
<!-- <link rel="stylesheet" href="/static/update_chapter.css"> -->
{% endblock othercss %}

{% block maincontent %}

{% if current_user.is_authenticated %}

<div class="container">

    {% macro render_input(field, showErrors="true") %}
    {{ field.label }}
    {{ field(**kwargs)|safe }}
    {% if showErrors=="true" and field.errors %}
    <ul class="errors">
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endmacro %}

    <h2>Update Semester</h2>
    <form action="/semester/semester_admin/update/{{updated_semester[0].id}}" method="POST"
        enctype="multipart/form-data">

        <!-- generates security token for this page (Ensures that this page is used for registration)-->
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{render_input(form.smclass, class="form-control")}}
        </div>

        <div class="mb-3">
            {{render_input(form.smdesc,class="form-control")}}
            <!-- <a href="#" id="vdesc" class="btn btn-warning voice" role="button"><i class="bi bi-mic"></i></a> -->
        </div>

        <button type="submit" class="btn btn-dark">Update</button>
    </form>
</div>

{% endif %}

{% endblock maincontent %}

{% block otherscript %}

<script>
    var receivedData = {{ updated_semester | tojson }};
    console.log(receivedData); 
</script>

<script src="{{ url_for('static', filename='update_semester.js') }}"></script>

{% endblock otherscript %}